
body {
  margin: 0 auto;
  min-width: 375px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
  font-size: 6.4rem;
  margin-bottom: 0;
  color: #222;
}

.content {
  display: flex;
  gap: 8px;
  padding: 2%;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.table-title {
  margin: 0 auto;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.refresh-button {
  width: 60px;
  height: 26px;
  border: 2px solid #000;
  box-shadow: 4px 3px 2px #000;
  justify-self: flex-end;
  font-size: 18px;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
  background-color: #007bff;
  color: #fff;
}

.refresh-button:active {
  transform: scale(1.15);
}

.table-section {
  width: min(420px, 100%);
  border: 3px solid #ddd;
  margin: 0;
  border-radius: 8px;
}

.record-store {
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}

.odd-index {
  background-color: #f2f2f2;
}

.store-text {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  padding: 1%;
}

.form-title {
  font-size: 3.4em;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}

.name,
.score {
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-right: 2px;
  color: #007bff;
  font-size: 24px;
}

.by-text {
  padding-right: 2px;
  color: #007bff;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: min(420px, 100%);
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
}

.input-field1,
.input-field2 {
  width: min(340px, 92%);
  height: 32px;
  margin: 0 auto;
  color: #007bff;
  font-size: 24px;
  padding: 0 2%;
  border: 3px solid #ddd;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
}

.add-button {
  width: 70px;
  height: 30px;
  border: 2px solid #000;
  box-shadow: 4px 3px 2px #000;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  position: relative;
  right: -33%;
  bottom: 0%;
  background-color: #007bff;
  color: #fff;
}

.add-button:active {
  transform: scale(1.15);
}
